<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:outputText />
        <div>
            
            <a href="add_books.xhtml">Add books      </a>
            <br/>

            <a href="show_books.xhtml">Show books</a>
        </div>
        <div>
            <h:form>
                Title: <h:inputText value="#{bookDTO.title}"/>
                Author (if multiple, add ',' between names): <h:inputText value="#{bookDTO.authors}"/>
                ISBN: <h:inputText value="#{bookDTO.isbn}"/>
                <h:commandButton value="submit" action="#{applicationController.saveBook(bookDTO)}"/>
            </h:form>           
          
            
                
        </div>

    </h:body>
</html>
