<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <div>
            <br/>
            <a href="add_books.xhtml">Add books      </a>
            <br/>
            <a href="show_books.xhtml">Show books      </a>
            <br/>
            <a href="login.xhtml">Login      </a>
            <br/>
            <a href="register.xhtml">Register      </a>
            <br/>
            Login status: #{userSession.logged}  Admin status: #{userSession.isAdmin}
            
        </div>
    </h:body>
</html>
