<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Log in</title>
    </h:head>
    <h:body>
        <div>
            <h:form>
                Login: <h:inputText value="#{userDTO.login}"/>
                Password: <h:inputSecret value="#{userDTO.password}"/>
                <h:commandButton value="submit" action="#{userSession.checkUser(userDTO)}"/>
            </h:form>     
        </div>
        <div>
            <a href="register.xhtml">Not registered yet? Register HERE!</a>
        </div>
    </h:body>
    
</html>
