<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <div>
            <h:form>
                Login: <h:inputText value="#{userDTO.login}"/>
                Password: <h:inputSecret value="#{userDTO.password}"/>
                <h:commandButton value="submit" action="#{applicationController.registerUser(userDTO)}"/>
            </h:form>     
        </div>
    </h:body>
</html>
