<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>
            
            <h:dataTable value="#{applicationController.books}" var="bookDTO">

                    <h:column>
                        #{bookDTO.title}
                    </h:column>
                    <h:column>
                        #{bookDTO.author}
                    </h:column>
                    <h:column>
                        #{bookDTO.isbn}
                    </h:column>

            </h:dataTable>
          
        </div>
    </body>
</html>
